﻿@using Avia.MVC.Helpers
@model Avia.MVC.Models.Settings.CompanyVM


<section class="content">
    <div class="box @if (ViewBag.Action == "edit")
                                         {
                                             @MvcHtmlString.Create("box-warning");
                                         }
                                         else
                                         {
                                             @MvcHtmlString.Create("box-success");
                                         }">
        @{
            string action;

            if (ViewBag.Action == "edit")
            {
                action = "EditCompany";
            }
            else
            {
                action = "AddCompany";
            }

            using (Html.BeginForm(action, "Settings", FormMethod.Post))
            {
                <div class="box-header with-border">
                    <h3 class="box-title @if (ViewBag.Action == "edit")
                                         {
                                             @MvcHtmlString.Create("text-yellow");
                                         }
                                         else
                                         {
                                             @MvcHtmlString.Create("text-green");
                                         } ">
                        @ViewBag.Caption
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Скрыть">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Закрыть">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    
                    <input type="hidden" id="Id" name="Id" value="@{ if (Model == null)
                        {
                                                       @MvcHtmlString.Create("0");
                        }
                        else
                        {@MvcHtmlString.Create(Model.Id.ToString());}
                             }" />
                    @Html.AntiForgeryToken()
                    <div class="col-lg-3 col-md-offset-4">
                        @Html.CTextBoxFor(d => d.Name, "название")

                        @Html.CTextBoxForInputGroup(m => m.Percent, "процент", "", "%")

                    </div>
                </div>
            <!-- /.box-body -->
                <div class="box-footer">
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-5">
                            <button type="submit" class="btn @if (ViewBag.Action == "edit")
                                         {
                                             @MvcHtmlString.Create("btn-warning");
                                         }
                                         else
                                         {
                                             @MvcHtmlString.Create("btn-success");
                                         } ">
                                <span class="glyphicon glyphicon-saved"></span>  Сохранить
                            </button>

                        </div>
                    </div>
                </div>
    }
        }
        <!-- /.box-footer-->
    </div>
</section>