﻿@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg btn-lrg ajax" data-toggle="modal" title="Ajax Request" data-target="#myModal">
        Launch demo modal
    </button>

    <button type="button" class="btn btn-default btn-lrg ajax" title="Ajax Request">
        <i class="fa fa-spin fa-refresh"></i>&nbsp; Get External Content
    </button>
</div>

 
     