﻿@using Avia.MVC.Helpers
@model Avia.MVC.Models.Tickets.RefundTicketVM
    @{
        Layout = null;
    }


@if (TempData["Error"] != null)
{
    <div class="box-body">
        
        <div class="col-md-6 col-md-offset-2">
            <div class="alert alert-danger ">
                
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4 class="col-md-offset-5">Ошибка!</h4>
                    <p class="text text-center">
                        @MvcHtmlString.Create(TempData["Error"].ToString())
                    </p>
                
            </div>
        </div>
    </div>
}


@if (Model != null) {
    <div class="box-body" id="tickets">
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TarifValut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kurs)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TarifSom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aeroport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItogoPoBiletu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comiso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComisoSom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Skidka)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayPass)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItogoAv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Toplivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Passanger)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyString)
                </th>

                <th class="text-bold" style="font-size: 10px;">Управление</th>
            </tr>
            </thead>
            <tbody>

            <tr class="@if (Model.IsCredit)
                       {
                           @MvcHtmlString.Create("danger")
                       }
                    ">

                <td>
                    @Html.DisplayFor(d => Model.Number)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Reis)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.TarifValut)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Kurs)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.TarifSom)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Aeroport)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.ItogoPoBiletu)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Comiso)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.ComisoSom)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Skidka)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.PayPass)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.ItogoAv)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Toplivo)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.Passanger)
                </td>
                <td>
                    @Html.DisplayFor(d => Model.CompanyString)
                </td>
                <td>
                    <div class="form-group"> 
                        <button type="button" class="btnbtn btn-sm btn-warning" data-toggle="modal" data-target="#ModalConfirm">
                            <span class="glyphicon glyphicon-share-alt"></span>  Возвратить
                        </button>
                        @Html.ModalWindow("ModalConfirm", TypeModal.Warning, $"Возвратить билет по номеру: '{Model.Number}' ?", @Url.Action("RefundTicketConfirm", new {id = Model.Id}),"Возвратить")
                    </div>

                </td>
            </tr>



            </tbody>

        </table>
    </div>

    <script>
     
        var doc = document.getElementById("body");
        doc.classList.add('sidebar-collapse');
     

    </script>
}


