﻿@using Avia.MVC.Helpers
@{
    ViewBag.Title = "Изменение";
    @model Avia.MVC.Models.Tickets.TicketVm
}



<!-- Default box -->
<div class="box box-solid box-warning">
    @using (Html.BeginForm("EditTicket", "Ticket", FormMethod.Post))
    {
        <div class="box-header with-border">
            <h3 class="box-title text-warning">Билет на имя "@Model.Passanger"</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Скрыть">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Закрыть">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">

                        @Html.CTextBoxFor(d => d.Number, "введите номер")


                        @Html.CTextBoxFor(d => d.TarifSom, "введите тариф")

                        @Html.CTextBoxFor(d => d.Aeroport, "введите сбор")

                        @Html.CTextBoxFor(d => d.Toplivo, "введите сбор")

                        @Html.CTextBoxFor(d => d.Skidka, "введите скидку")
                        @Html.CTextBoxFor(d => d.PayPass, "введите оплату")

                        @Html.DropDownListFor("CompanyId", "Авиакомпании", Model.Companies, Model?.CompanyId.ToString() ?? string.Empty)




                    </div>
                    <!-- /.col -->
                    <div class="col-md-6">
                        @Html.CTextBoxFor(d => d.Passanger, "введите Ф.И.О. клиента")


                        @Html.CTextBoxFor(d => d.Reis, "введите рейс")


                        @Html.CTextBoxFor(d => d.TarifValut, "введите тариф")

                        @Html.CTextBoxFor(d => d.Kurs, "введите курс")

                        @Html.CTextBoxFor(d => d.Comiso, "введите комиссию")

                        @Html.CTextBoxFor(d => d.ComisoSom, "введите комиссию")

                        @Html.CTextBoxFor(d => d.ItogoPoBiletu, "введите итог")

                        @Html.CTextBoxFor(d => d.ItogoAv, "введите итог в А/К")


                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>


                @if (Model.Clients.Any())
                {
                    <div  style="padding-top: 20px; ">
                        <div class="col-md-12 " >
                            <div class="panel box box-primary">
                                <div >
                                    <div class="col-md-6 col-lg-offset-3" style="padding-top: 20px; ">


                                        @Html.DropDownListFor("ClientId", "Клиенты", Model.Clients, Model?.ClientId.ToString())

                                        @Html.CTextBoxFor(d => d.Amount, "введите сумму...")

                                        <div class="form-group">
                                            <label for="Comment">Комментарий</label>
                                            @Html.TextAreaFor(d => d.Comment, new { @placeholder = "комментарий...", @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-warning col-sm-offset-4" style="width: 350px" aria-label="Left Align">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                    Сохранить
                </button>

            </div>
            <!-- /.box-footer-->
    }
</div>
<!-- /.box -->